body {
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
  background-color: #000000;
}

/* BARRA NAVEGACIO & SLIDER */
/* --------------------------------- */
.navbar-brand img {
  max-height: 2em;
}

/* 
TRANSPARENTE BARRA  */
.barrita {
  background-color: transparent !important;
}

/* BARRA SOBRE SLIDER */
.navbar {
  position: absolute;
  width: 100%;
  z-index: 10;
  max-width: 100%;
}

.navbar .nav-item .nav-link {
  color: #ffffff;
}

/* SECCION QUIENES SOMOS */
/* --------------------------- */

hr {
  border: 1px solid #16a8d4;
}

.fa-plane,
.fa-route,
.fa-mountain {
  background-color: #1798c1;
  margin-left: 0;
  padding: 0 10rem;
}
